<ion-header>
  <ion-navbar>
    <ion-title>
      To Do List
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <form>
   <ion-input [(ngModel)]="task.name" name="name" placeholder="Tarefa"></ion-input>
   <button ion-button block (click)="saveTask()">Adicionar</button>
 </form>

 <p text-center><strong>Tarefas abertas</strong></p>
 <ion-list>
  <ion-item *ngFor="let t of allTasks | filter:'opens'">
    {{t.name}}
    <button ion-button (click)="taskDone(t)">OK</button>
  </ion-item>
 </ion-list>

 <p text-center><strong>Tarefas concluídas</strong></p>
 <ion-list>
  <ion-item *ngFor="let t of allTasks | filter:'done'">
    {{t.name}}
  </ion-item>
 </ion-list>
</ion-content>
